.card-effect:hover{
    transform: scale(1.09);
}
.font-card{
    font-size: .8rem !important;
}
.VeiwMore-btn{
  margin: auto 6rem;
}

@media (max-width:600px) {
  .Cards{
    justify-content: center !important;
  }
}

